body {
}

button {
    margin: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: darkgray;
}

#carousel {
    width: 800px;
    height:600px;
    text-align: center;
    margin: auto auto;
}

#carouselCycle {
    margin-top: 10px;
    text-align:center;
}

#carouselList {
    display: none;
}

#img-desc {
    margin-top: 10px;
    margin-bottom: 10px; 
    text-align: center;
    font-weight: 300;
    font-size: 150%;
}

#footer {
    text-align: center;
}