body {
}

button {
    margin: 5px;
    border: 1px solid black;
}

button:hover {
    background-color: darkgray;
}

#carousel {
    width: 800px;
    height:600px;
    text-align: center;
    margin: auto auto;
}

#carouselCycle {
    text-align:center;
}

#carouselList {
    display: none;
}

#img-desc {
    text-align: center;
}