body {
    height: 640px;
    background: beige;
}
button {
    height:30px;

    border:none;
    background-color: darkred;
    color: white;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 4px; /* rounds corners */
    background: blue;
    position: absolute;
}
