* {
    font-family: 'Terminal';
    font-weight: bolder;
    font-style: normal;
    color: forestgreen;
    background-color: black;
}

/* Navigation Bar */
nav {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

    nav > a {
        font-weight: bolder;
        font-size: 200%;
        text-decoration: none;
        padding-left: 10px;
        padding-right: 10px;
    }

        nav > a:visited {
            color: forestgreen;
        }

        nav > a:hover {
            color: rgb(0, 255, 0);
        }

/* All Links */
a {
    text-decoration: none;
}

    a:hover {
        color: rgb(0, 255, 0);
    }

/* Old style monitor look */
main {
    margin: auto auto;
    width: 960px;
    height: 700px;
    background-color: beige;
    border-radius: 25px 25px;
    text-align: center;
}

section {
    width: 890px;
    height: 630px;
    margin: 25px 25px 25px 25px;
    border-radius: inherit;
    float: left;
    background-color: black;
    padding-top: 20px;
    padding-left: 20px;
    overflow-y: auto;
}

    section h4 {
        font-size: 125%;
        color: rgb(0, 255, 0);
    }

img.align-right {
    float: right;
    margin-left: 10px;
}

img.small {
    width: 100px;
    height: 100px;
    padding: 10px;
}

img.medium {
    width: 250px;
    height: 250px;
    padding: 10px;
}
